<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.dcarvajal7.sexroulette"
    android:versionCode="11"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.dcarvajal7.sexroulette.MainActivity"
                         	  android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.dcarvajal7.sexroulette.Juego"
            android:label="@string/app_name"
                         	  android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="es.dcarvajal7.sexroulette.Juego2"
                         	  android:screenOrientation="portrait"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="es.dcarvajal7.sexroulette.Trucos"
             	  android:label="@string/app_name"
             	  android:theme="@style/AppBaseTheme"></activity>
        <activity android:name="es.dcarvajal7.sexroulette.Libidos"
             	  android:label="@string/app_name"
             	  android:theme="@style/AppBaseTheme"></activity>
         <activity android:name="es.dcarvajal7.sexroulette.TrucoItem"
             	  android:screenOrientation="portrait"
             	  android:label="@string/app_name"
             	  android:theme="@style/AppBaseTheme"></activity>
         <activity android:name="es.dcarvajal7.sexroulette.LibidoItem"
             	  android:screenOrientation="portrait"
             	  android:label="@string/app_name"
             	  android:theme="@style/AppBaseTheme"></activity>
         <activity android:name="es.dcarvajal7.sexroulette.PantallaResultado"
                  android:screenOrientation="portrait"
             	  android:label="@string/app_name"
             	  android:theme="@style/Theme.Dialogo"></activity>
         <activity android:name="es.dcarvajal7.sexroulette.VersionPremium"
                  android:screenOrientation="portrait"
             	  android:label="@string/app_name"
             	  android:theme="@style/Theme.Dialogo"></activity>
        <activity
		    android:name="com.tapit.adview.AdActivity"
		    android:configChanges="keyboard|keyboardHidden|orientation" />
        
    </application>
</manifest>